---
const year = new Date().getFullYear();

// Redes sociales con íconos y enlaces
const socialLinks = [
	{ name: "Twitter", icon: "fab fa-twitter", url: "https://twitter.com", color: "text-blue-400 hover:bg-blue-400 hover:text-white" },
	{ name: "Facebook", icon: "fab fa-facebook-f", url: "https://facebook.com", color: "text-blue-600 hover:bg-blue-600 hover:text-white" },
	{ name: "Instagram", icon: "fab fa-instagram", url: "https://instagram.com", color: "text-pink-600 hover:bg-pink-600 hover:text-white" },
];

// Secciones de enlaces útiles
const usefulLinks = [
	{ name: "Sobre nosotros", url: "#" },
	{ name: "Blog", url: "#" },
	{ name: "Nuestros servicios", url: "#" },
	{ name: "Contáctanos", url: "#" }
];

const legalLinks = [
	{ name: "Política de privacidad", url: "#" },
	{ name: "Términos y condiciones", url: "#" },
	{ name: "Preguntas frecuentes", url: "#" }
];
---

<footer class="relative bg-black text-white pt-8 pb-6 px-4 sm:px-6 lg:px-8">
	<div class="container mx-auto px-4">
		<div class="flex flex-wrap text-left lg:text-left">
			<!-- Sección de contacto -->
			<div class="w-full lg:w-6/12 px-4">
				<h4 class="text-3xl font-semibold text-white ">Encuéntranos en nuestras<span class="text-blue-400"> redes sociales</span></h4>
				<div class="mt-6 lg:mb-0 mb-6 flex gap-2">
					{socialLinks.map((social) => (
						<a href={social.url} target="_blank" rel="noopener noreferrer" class={`bg-white ${social.color} shadow-lg h-10 w-10 flex items-center justify-center rounded-full transition`}>
							<i class={social.icon}></i>
						</a>
					))}
				</div>
			</div>

			<!-- Sección de enlaces -->
			<div class="w-full lg:w-6/12 px-4">
				<div class="flex flex-wrap items-top mb-6">
					<!-- Enlaces útiles -->
					<div class="w-full lg:w-4/12 px-4 ml-auto">
						<span class="block uppercase text-blue-500 text-sm font-semibold mb-2">Enlaces útiles</span>
						<ul class="list-unstyled">
							{usefulLinks.map((link) => (
								<li>
									<a class="text-gray-400 hover:text-white font-semibold block pb-2 text-sm" href={link.url}>{link.name}</a>
								</li>
							))}
						</ul>
					</div>

					<!-- Información legal -->
					<div class="w-full lg:w-4/12 px-4">
						<span class="block uppercase text-gray-500 text-sm font-semibold mb-2">Información legal</span>
						<ul class="list-unstyled">
							{legalLinks.map((link) => (
								<li>
									<a class="text-gray-400 hover:text-white font-semibold block pb-2 text-sm" href={link.url}>{link.name}</a>
								</li>
							))}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Copyright -->
		<div class="flex flex-wrap items-center md:justify-between justify-center">
			<div class="w-full md:w-4/12 px-4 mx-auto text-center">
				<div class="text-sm text-gray-400 font-semibold py-1">
					Copyright © {year} | Ascent - Todos los derechos reservados
				</div>
			</div>
		</div>
	</div>
</footer>
